* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif
}

.title {
    color: #8a8a8a;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    display: flex;
    justify-content: center;
    padding-top: 3px;
}

header{
    /*background-color: blanchedalmond;*/
    display: flex;
    justify-content: center;
    padding-top: 21px;
}


p {
    color: white;
    display: flex;
    justify-content: center;
}

.links a {
    /*background-color: white;*/
    color: #c41c00;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;

}

.links {
    /*background-color: white;*/
    color: white;
    display: flex;
    justify-content: center;
}

.grey {
    color: #8a8a8a;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
    
